<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor's Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/6c0f2d0160.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="hdr">
      <nav class="nav-links">
        <h2><a href="/">Home</a></h2>
        <h2><a href="/dashboard">Dashboard</a></h2>
        {{#if logged_in}}
          <h2><button class="btn-no-style" type="button" id="logout-btn">Logout</button></h2>
        {{else}}
          <h2><a href="/login">Login</a></h2>
        {{/if}}
      </nav>
      <div class="hdr-title">
        <h1>{{#if pageTitle}}{{pageTitle}}{{else}}The Tech Blog{{/if}}</h1>
      </div>
    </header>

    <main class="container" id="main-container" >
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>