 <section class="post-box">
    <header class="post-header">
      <h3 class="new-post-title">Create New Post</h3>
    </header>
    <div class="comment-container">
      <span>Title:</span>
      <input class="new-title-text" id="new-post-title" ></input>
      <span>Content:</span>
      <textarea class="post-comment-text" id="new-post-content"></textarea>
      <button class="new-post-button" id="new-post-button">Create</button>
    </div>
  </section>

  <script src="/js/newPost.js"></script>